<mat-toolbar color="primary">
  <mat-toolbar-row>
    🌎&nbsp;<span>Weather App: Backbase</span>&nbsp;🌎
    <span style="flex: 1 1 auto"></span>
    <span><a href="https://documentation-hynplysbbg.now.sh/"
         mat-raised-button
         target="_blank">📝 Documentation</a></span>
    &nbsp;
    <span><a href="https://twitter.com/jdjuan"
         mat-raised-button
         target="_blank">👦 Juan Herrera</a></span>
  </mat-toolbar-row>
</mat-toolbar>