<div class="grid-container">
  <mat-grid-list [cols]="layoutColumns | async"
                 rowHeight="350px">
    <mat-grid-tile *ngFor="let cityWeather of citiesWeather | async"
                   colspan="1"
                   rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h1>{{cityWeather.name}}</h1>

            <a mat-raised-button
               class="more-button"
               matTooltip="See forecasted weather"
               [routerLink]="['forecast', cityWeather.id]"
               routerLinkActive="router-link-active"
               color="accent">Forecast</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <p>Temperature: <mat-chip color="primary"
                        selected>{{cityWeather.main.temp}} C°</mat-chip>
            </p>
            <p>Wind Speed: <mat-chip color="primary"
                        selected>{{cityWeather.wind.speed}} mps</mat-chip>
            </p>
            <p *ngIf="cityWeather.wind.deg">Wind Direction: <mat-chip color="primary"
                        selected>{{cityWeather.wind.deg}}°</mat-chip>
            </p>
            <p>Weather Conditions: <mat-chip color="primary"
                        selected>{{cityWeather.weather[0].description | titlecase}}</mat-chip>
            </p>
          </div>
          <mat-chip-list></mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>