<!-- <pre>{{forecast | async | json}}</pre> -->

<div class="grid-container">
  <mat-grid-list [cols]="1"
                 rowHeight="550px">
    <mat-grid-tile colspan="1"
                   rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h1 *ngIf="data">{{data[0].name}}</h1>
            <a mat-raised-button
               class="more-button"
               matTooltip="Go back to the dashboard"
               [routerLink]="['/dashboard']"
               routerLinkActive="router-link-active"
               color="accent">Go back</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: grid">
            <ngx-charts-line-chart [results]="data"
                                   [curve]="curve"
                                   [yScaleMax]="yScaleMax"
                                   [yScaleMin]="yScaleMin"
                                   [xAxis]="true"
                                   [yAxis]="true"
                                   [showXAxisLabel]="true"
                                   [showYAxisLabel]="true"
                                   [xAxisLabel]="'Time'"
                                   [yAxisLabel]="'Temperature C°'">
            </ngx-charts-line-chart>
          </div>
          <mat-chip-list></mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>