/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

mat-card-header div.mat-card-header-text {
  margin: 0;
}
